/*
RED: #993d3d
BLUE: #294767
GREEN: #5c7738
LIGHT GREEN: #78a04d
*/

body {
	background-color: #96accd;
	background-image:url('/img/capitol2-blur.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	background-attachment: scroll;
}

#main {
	margin-top: 10px;
	margin-bottom: 20px;
}

#content {
	padding-top: 10px;
}

#hb {
	width: 20px;
	height: 23px;
	margin-right: 2px;
	padding-bottom: 2px;
}

#copyright,
#copyright > a:link {
	font-size: 11px;
	color: #999999;
	line-height: 24px;
	border-color: #999999;
}

#section {
	padding-top: 4px;
	padding-bottom: 25px;
}

body p {
	text-align: left;
	text-indent: 0px;
	line-height: 22px;
	margin-top: 0px;
	margin-bottom: 15px;
}

.center { 
	float: none; 
	margin-left: auto; 
	margin-right: auto; 
	display: block;
	text-align: center;
}

.btn-fart {
	margin-bottom: 30px;
	color: #ffffff;
	background-color: #993d3d;
	border-color: #993d3d;
}

.btn-fart:hover,
.btn-fart:focus,
.btn-fart:active,
.btn-fart.active {
	color: #ffffff;
	background-color: #873636;
	border-color: #752e2e;
}

.btn-fart.disabled:hover,
.btn-fart.disabled:focus,
.btn-fart.disabled:active,
.btn-fart.disabled.active,
.btn-fart[disabled]:hover,
.btn-fart[disabled]:focus,
.btn-fart[disabled]:active,
.btn-fart[disabled].active,
fieldset[disabled] .btn-fart:hover,
fieldset[disabled] .btn-fart:focus,
fieldset[disabled] .btn-fart:active,
fieldset[disabled] .btn-fart.active {
	color: #ffffff;
	background-color: #993d3d;
	border-color: #993d3d;
}

.btn-vote {
	color: #ffffff;
	background-color: #383838;
	border-color: #383838;
}

.btn-vote:hover,
.btn-vote:focus,
.btn-vote:active,
.btn-vote.active {
	color: #ffffff;
	background-color: #2b2b2b;
	border-color: #1f1f1f;
}

.btn-vote.disabled:hover,
.btn-vote.disabled:focus,
.btn-vote.disabled:active,
.btn-vote.disabled.active,
.btn-vote[disabled]:hover,
.btn-vote[disabled]:focus,
.btn-vote[disabled]:active,
.btn-vote[disabled].active,
fieldset[disabled] .btn-vote:hover,
fieldset[disabled] .btn-vote:focus,
fieldset[disabled] .btn-vote:active,
fieldset[disabled] .btn-vote.active {
	color: #ffffff;
	background-color: #383838;
	border-color: #383838;
}

.btn-donate {
	color: #ffffff;
	background-color: #294767;
	border-color: #294767;
}

.btn-donate:hover,
.btn-donate:focus,
.btn-donate:active,
.btn-donate.active {
	color: #ffffff;
	background-color: #223a55;
	border-color: #1a2e43;
}

.btn-donate.disabled:hover,
.btn-donate.disabled:focus,
.btn-donate.disabled:active,
.btn-donate.disabled.active,
.btn-donate[disabled]:hover,
.btn-donate[disabled]:focus,
.btn-donate[disabled]:active,
.btn-donate[disabled].active,
fieldset[disabled] .btn-donate:hover,
fieldset[disabled] .btn-donate:focus,
fieldset[disabled] .btn-donate:active,
fieldset[disabled] .btn-donate.active {
	color: #ffffff;
	background-color: #294767;
	border-color: #294767;
}

.app-icon {
	width: 125px;
	height: 125px;
	margin-left: 10px;
	margin-bottom: 10px;
}

h1 {
	font-size: 55px;
	font-weight: normal;
	text-align: center;
}

h2 {
	font-size: 28px;
	line-height: 20px;
}

h5 {
	font-size: 18px;
	font-weight: normal;
}

h4 {
	margin-top: 0px;
	padding-top: 0px;
}

a {
	color: #223a55;
}

a:link,
a:visited,
a:active,
a:hover {
	text-decoration:none;
}

a:link {
  	border-bottom: 1px #223a55 dotted;
}

a:hover,
#copyright > a:hover {
	color: #3d6a99;
	border-color: #3d6a99;
}

@media (max-width: 480px) and (max-width: 568px) {
	#content {
		padding-top: 0px;
	}

	.btn-fart {
		margin-bottom: 20px;
	}

	h1 {
		font-size: 38px;
	}

	h5 {
		font-size: 14px;
	}
}